/* base */
body,ul {
    margin: 0;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.container {
    /* max-width: 450px;
    min-width: 350px; */
}
.header {
    background: #3b5998;
    height: 44px;
    display: flex;
    position: relative;
    z-index: 100;
    min-width: 320px;
}
nav {
    flex: 1;
    padding: 0 10px;
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}

.timeline,
.friends,
.message,
.news,
.search,
.more {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/0VeYFEjQoVX.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 41px 1482px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    background-position: 0 -1335px;
}

.friends {
    background-position: 0 -1146px;
}

.message {
    background-position: 0 -1041px;
}

.news {
    background-position: 0 -1083px;
}

.search {
  background-position: 0 -1230px;
}

.more {
     background-position: 0 -1272px;
}

/* cover */
.timeline-cover{
    position: relative;
}
.cover-img-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    /* 16:9 Aspect Ratio */
}
.cover-img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   
}
.user-profile {
    position: absolute;
    top: 149.94px;
    text-align: center;
}
.user-profile-img {
    max-width: 33%;
}
.user-name {
    margin: 0;
    color: #1d2129;
    font: 26px Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 1;
}
